<div class="mt-8  min-h-screen flex flex-col items-center justify-center py-6 px-4 bg-violet-600 " style="background-color: #FBFAFF">
    <!-- <div class="grid md:grid-cols-2 items-center gap-10 max-w-6xl max-md:max-w-md w-full "> -->
        <!-- welcoming card -->
        <!-- <div class="animate-gradient-x font-inter bg- backdrop-blur-2xl  p-8 rounded-2xl border border-white/20 shadow-[0_8px_32px_0_rgba(31,38,135,0.37)] space-y-6 bg-transparent bg-gradient-to-br from-purple-600 via-purple-700 to-blue-800" > -->
          <!-- logo -->
          <!-- <h2 class="lg:text-5xl text-3xl font-bold lg:leading-[57px]  text-center">
            <span class="text-5xl font-bold text-white/90" class="animate__animated animate__fadeInDown">
              <span *ngFor="let char of textArray; let i = index" [style.animationDelay]="i * 0.1 + 's'">
                {{ char }}
              </span>
            </span>
          </h2> -->
          <!-- welcome back text -->
          <!-- <div class="text-center mb-8"> -->
            <!-- <h1 class="text-3xl font-bold text-[#1A1F2C] mb-2">Book it! Live ir</h1> -->
            <!-- <p class=" mt-7 text-white/80 hover:text-[#9b87f5]">
              Welcome back to Evenza – your gateway to unforgettable experiences
            </p>
          </div> -->
<!--           
          <div class="mt-6 text-center">
            <p class="text-[#8E9196]">
              Don't have an account?
              <a routerLink="/signup" class="text-[#9b87f5] hover:text-[#7E69AB] font-medium">
                Create New Account
              </a>
            </p>
          </div>
  
        </div> -->

        

        <!-- sign in card -->
        <form class="max-w-md md:mx-auto w-full border border-[#f0ecff] bg-white shadow-[0_2px_13px_-6px_rgba(0,0,0,0.4)] sm:p-8 p-4 rounded-lg" action="javascript:void(0);"
        [formGroup]="signInForm"
        (ngSubmit)="onSubmit()"
        >
          <h3 class="text-purple-700 tracking-tight lg:text-3xl text-2xl font-bold mb-8">
            {{"auth.signIn.title"| translate}}
          </h3>
  
          <div class="space-y-6">
     
            <div class="relative">
              <label class='text-sm font-medium mb-2 block text-[#1A1F2C]'>{{"auth.signIn.emailLabel"| translate}}</label>
              <ng-icon name="heroEnvelope" class="h-5 w-5 text-[#8E9196] absolute left-3 top-1/2 transform mt-1.5" />
              <input name="email" formControlName="email" type="email" required class="bg-slate-100 w-full text-sm text-slate-800 px-4 py-3 pl-10 rounded-md outline-none border focus:border-purple-500 focus:bg-transparent border-[#e9e3ff] focus-visible:ring-[#9b87f5]" [placeholder]="'auth.signUp.enterEmail' | translate"/>
            </div>
            <div *ngIf="signInForm.get('email')?.touched && signInForm.get('email')?.errors" class="text-red-600 font-bold text-sm mt-2 ml-0.5">
              <ng-container *ngIf="signInForm.get('email')?.errors?.['required']">
                {{"auth.signIn.emailRequired"| translate}}
              </ng-container>
              <ng-container *ngIf="signInForm.get('email')?.errors?.['email']">
                {{"auth.signIn.emailInvalid"| translate}}
              </ng-container>
            </div>
  
              <!-- password input  -->
            <div class="relative">
              <label class='text-sm font-medium mb-2 block text-[#1A1F2C]'>{{"auth.signIn.passwordLabel"| translate}}</label>
              <ng-icon name="heroLockClosed" class="h-5 w-5 text-[#8E9196] absolute left-3 top-1/2 transform mt-1.5" />
              <input name="password" formControlName="password" type="password" required class="bg-slate-100 w-full text-sm text-slate-800 px-4 py-3 pl-10 rounded-md outline-none border focus:border-purple-500 focus:bg-transparent border-[#e9e3ff] focus-visible:ring-[#9b87f5]" [placeholder]="'auth.signUp.password' | translate" />
            </div>
            <div *ngIf="signInForm.get('password')?.touched && signInForm.get('password')?.errors" class="text-red-600 font-bold text-sm mt-2 ml-0.5">
              <ng-container *ngIf="signInForm.get('password')?.errors?.['required']">
                {{"auth.signIn.passwordRequired"| translate}}
              </ng-container>
              <ng-container *ngIf="signInForm.get('password')?.errors?.['minlength']">
                {{"auth.signIn.passwordMinLength"| translate}}
              </ng-container>
            </div>
            
            <div class="flex flex-wrap items-center justify-between gap-4">
              
              <div *ngIf="errorMessage" class="error-message" style="color: red; font-size: bold; margin-top: 10px;">
                {{ errorMessage }}
              </div>
              
              
              <!-- remember Me -->
              <div class="flex items-center">
                <input id="remember-me" name="remember-me" formControlName="rememberMe" type="checkbox" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-slate-300 rounded " />
                <label for="remember-me" class="ml-3 bLock text-sm text-slate-500">
                  {{"auth.signIn.rememberMe"| translate}}
                </label>
              </div>
              <!-- forgot password -->
              <div class="text-sm">
                <a routerLink="/forgot-password" class="font-medium text-sm text-[#9b87f5] hover:text-[#7E69AB]">
                  {{"auth.signIn.forgotPassword"| translate}}
                </a>
              </div>
            </div>
          </div>
          
          <div class="!mt-12">
            <button 
            type="submit" 
            [disabled]="isLoading"
            class="shadow-xl py-2.5 px-4 text-sm font-semibold rounded  focus:outline-none w-full bg-[#9b87f5] hover:bg-[#7E69AB] text-white  flex items-center justify-center gap-2">
              
            <svg
              *ngIf="isLoading"
              class="animate-spin h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
              ></path>
            </svg>
            
            <span>
              {{
                isLoading
                  ? ('auth.signIn.loadingText' | translate)
                  : ('auth.signIn.loginButton' | translate)
              }}
            </span>
            
            <!-- {{"auth.signIn.loginButton"| translate}} -->
            </button>
          </div>
          
          <div class="my-4 flex items-center gap-4">
            <hr class="w-full border-slate-300" />
            
              <p class="text-sm text-slate-800 text-center">{{"auth.signIn.or"| translate}}</p>
              <hr class="w-full border-slate-300" />
            </div>
  
            <!-- google sign in -->
            <div class="space-x-6 rtl:space-x-reverse flex justify-center mb-1.5">
              <div id="google-btn">
  
              </div>
              
            </div>
            <!-- terms -->
            <div class="mt-5">
              <!-- ceate account -->
              <div class="mt-6 text-center">
                <p class="text-[#8E9196]">
                  {{"auth.signIn.noAccount"| translate}} 
                  <a routerLink="/signup" class="text-[#9b87f5] hover:text-[#7E69AB] font-medium">
                    {{"auth.signIn.signupLink"| translate}} 
                  </a>
                </p>
              </div>
              <p class="text-sm text-slate-500 text-center mt-4"> {{"auth.signIn.termsAgree"| translate}}  <a routerLink="/terms-condition" target="_blank" class="font-medium text-[#9b87f5] hover:text-[#7E69AB]">{{"auth.signIn.terms"| translate}} </a></p>
            </div>
        </form>
      <!-- </div> -->
</div>

<ngx-spinner
bdColor="rgba(0, 0, 0, 0.5)"
size="medium"
color="#fff"
type="ball-scale-multiple"
[fullScreen]="true">
</ngx-spinner>
