@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.font-display , input {
  font-family: 'Outfit', sans-serif;
}


.poppins-font {
  font-family: 'Poppins', sans-serif;
}

#tabs-trigger{
  font-weight: 500;
}
