<aside class="sidebar" 
       [class.sidebar-expanded]="isSidebarOpen "
       [class.sidebar-collapsed]="!isSidebarOpen "
>
  
  <!-- Header with toggle button -->
  <div class="sidebar-header">
    <div class="logo-container">
      <button 
        (click)="toggleSidebar()" 
        class="toggle-btn">
        <ng-icon 
          [name]="isSidebarOpen ? 'heroChevronLeft' : 'heroChevronRight'">
        </ng-icon>
      </button>
      <h1 class="logo-text" [class.hidden]="!isSidebarOpen && !isHovered">
        Evenza
      </h1>
    </div>
  </div>

  <!-- Navigation -->
  <div class="sidebar-nav">
    <div class="nav-section-title" [class.hidden]="!isSidebarOpen && !isHovered">ADMIN</div>
    <nav>
      <ul class="nav-menu">
        <li>
          <a routerLink="/admin/analytics" routerLinkActive="active" 
             [class.center-icon]="!isSidebarOpen && !isHovered">
            <span class="nav-icon">
              <ng-icon name="heroSquare2Stack"></ng-icon>
            </span>
            <span class="nav-text" [class.hidden]="!isSidebarOpen && !isHovered">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/events" routerLinkActive="active" 
             [class.center-icon]="!isSidebarOpen && !isHovered">
            <span class="nav-icon">
              <ng-icon name="heroCalendar"></ng-icon>
            </span>
            <span class="nav-text" [class.hidden]="!isSidebarOpen && !isHovered">Events</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/categories" routerLinkActive="active" 
             [class.center-icon]="!isSidebarOpen && !isHovered">
            <span class="nav-icon">
              <ng-icon name="heroTag"></ng-icon>
            </span>
            <span class="nav-text" [class.hidden]="!isSidebarOpen && !isHovered">Categories</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/users" routerLinkActive="active" 
             [class.center-icon]="!isSidebarOpen && !isHovered">
            <span class="nav-icon">
              <ng-icon name="heroUsers"></ng-icon>
            </span>
            <span class="nav-text" [class.hidden]="!isSidebarOpen && !isHovered">Users</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/orders" routerLinkActive="active" 
             [class.center-icon]="!isSidebarOpen && !isHovered">
            <span class="nav-icon">
              <ng-icon name="heroTicket"></ng-icon>
            </span>
            <span class="nav-text" [class.hidden]="!isSidebarOpen && !isHovered">Bookings</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/upload-documents" routerLinkActive="active" 
             [class.center-icon]="!isSidebarOpen && !isHovered">
            <span class="nav-icon">
              <ng-icon name="heroDocument"></ng-icon>
            </span>
            <span class="nav-text" [class.hidden]="!isSidebarOpen && !isHovered">Documents</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/refund-requests" routerLinkActive="active" 
             [class.center-icon]="!isSidebarOpen && !isHovered">
            <span class="nav-icon">
              <ng-icon name="heroArrowPath"></ng-icon>
            </span>
            <span class="nav-text" [class.hidden]="!isSidebarOpen && !isHovered">Refund Requests</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/organizer/wallet" routerLinkActive="active" 
             [class.center-icon]="!isSidebarOpen && !isHovered">
            <span class="nav-icon">
              <ng-icon name="heroBanknotes"></ng-icon>
            </span>
            <span class="nav-text" [class.hidden]="!isSidebarOpen && !isHovered">Organizer's Wallet</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/reviews" routerLinkActive="active" 
             [class.center-icon]="!isSidebarOpen && !isHovered">
            <span class="nav-icon">
              <ng-icon name="heroStar"></ng-icon>
            </span>
            <span class="nav-text" [class.hidden]="!isSidebarOpen && !isHovered">Reviews</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>