<div class="flex flex-col px-3 py-8 mx-auto md:h-auto lg:py-0">
    <div class="w-full sm:max-w-4xl p-6 sm:p-2">
  
    <form  
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()"
    class="w-full max-w-4xl md:space-y-5"> 
      <div class="space-y-12">
        <div class="pb-12">
          <h2 class="text-4xl font-bold  text-gray-900 tracking-tight">Account Information</h2>
          <p class="text-gray-500 text-xl">
            Update your personal information and contact details.
          </p>

          <!-- photo -->
          <div class="mt-10 grid grid-cols-1  gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="col-span-full">
              <label for="photo" class="block text-2xl/6 font-semibold text-gray-900 mb-3.5">Profile Photo</label>
              <div class="mt-2 flex items-center gap-x-3 ">
                <div class="shrink-0 cursor-pointer">
                  <img 
                  id="preview_img"
                  [src]="selectedImagePreview || 'https://lh3.googleusercontent.com/a-/AFdZucpC_6WFBIfaAbPHBwGM9z8SxyM1oV4wB4Ngwp_UyQ=s96-c'"
                  alt="Profile photo"
                  class="mt-4 h-35 w-35 object-cover rounded-full"
                />
                </div>

                <label class="block cursor-pointer">
                  <span class="sr-only cursor-pointer">Choose profile photo</span>
                  <input 
                  (change)="onFileSelected($event)"                     
                  type="file" class=" cursor-pointer
                    block w-full text-sm text-slate-500 
                    file:mr-4 file:py-2 file:px-4
                    file:rounded-full file:border-0
                    file:text-sm file:font-semibold
                    file:bg-violet-50 file:text-violet-700
                    hover:file:bg-violet-100
                  "
                  />
                </label>
              </div>
            </div>
          </div>
          
        </div>

      </div>
      
      <div class="border-b border-gray-900/10 pb-12">
          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-5">
            <!-- first name -->
            <div class="sm:col-span-2">
              <label for="first-name" class="block font-medium text-gray-900 text-lg">First name</label>  
              <div class="mt-2">
                <input 
                formControlName="firstName"
                type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md bg-white px-3 py-2.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-purple-600 sm:text-lg">
              </div>
            </div>
      
            <!-- last name -->
            <div class="sm:col-span-2">
              <label for="last-name" class="block font-medium text-gray-900 text-lg">Last name</label>
              <div class="mt-2">
                <input 
                formControlName="lastName"
                type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md bg-white px-3 py-2.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-purple-600 sm:text-lg">
              </div>
            </div>
  
            <div></div>
            <!-- phone 1 -->
            <div class="sm:col-span-2">
              <label for="phone-number" class="blotext-lg font-semibold text-gray-900">Phone number 1</label>
              <div class="mt-2.5">
                <div class="flex rounded-md bg-white outline-1 -outline-offset-1 outline-gray-300 has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-600">
                  <div class="grid shrink-0 grid-cols-1 focus-within:relative">
                    <select id="country" name="country" autocomplete="country" aria-label="Country" class="col-start-1 row-start-1 w-full appearance-none rounded-md py-2.5 pr-7 pl-3.5  text-gray-500 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-purple-600 text-lg">
                      <option>Eg</option>
                      <option>+02</option>
                    </select>
                    <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <input 
                  formControlName="phone1"
                  type="text" name="phone-number" id="phone-number" class="block min-w-0 grow py-1.5 pr-3 pl-1  text-gray-900 placeholder:text-gray-400 focus:outline-none text-lg" placeholder="123-456-7890">
                </div>
              </div>
            </div>
            
            
            <!-- phone 2 -->
            <div class="sm:col-span-2">
              <label for="phone-number" class="blotext-lg font-semibold text-gray-900">Phone number 2</label>
              <div class="mt-2.5">
                <div class="flex rounded-md bg-white outline-1 -outline-offset-1 outline-gray-300 has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-600">
                  <div class="grid shrink-0 grid-cols-1 focus-within:relative">
                    <select id="country" name="country" autocomplete="country" aria-label="Country" class="col-start-1 row-start-1 w-full appearance-none rounded-md py-2 pr-7 pl-3.5  text-gray-500 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-purple-600 text-lg">
                      <option>US</option>
                      <option>CA</option>
                      <option>EU</option>
                    </select>
                    <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <input 
                  formControlName="phone2"
                  type="text" name="phone-number" id="phone-number" class=" block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-lg" placeholder="123-456-7890">
                </div>
              </div>
            </div>
      
            <!-- email -->
            <div class="sm:col-span-4">
              <label for="email" class="block text-lg font-medium text-gray-900">Email address</label>
              <div class="mt-2">
                <input 
                formControlName="email"
                id="email" name="email" type="email" autocomplete="email" class="block w-full rounded-md bg-white px-3 py-2.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2   focus:outline-purple-600 sm:text-lg">
              </div>
            </div>
  
            <div></div>
            
            <!-- country -->
            <div class="sm:col-span-2">
              <label for="country" class="block text-lg font-medium text-gray-900">Country</label>
              <div class="mt-2 grid grid-cols-1">
                <select 
                formControlName="country"
                id="country" name="country" autocomplete="country-name" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-2.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-purple-600 sm:text-lg">
                  <option value="" disabled selected>Select Your Country</option>
                  <option value="cairo">Cairo</option>
                  <option value="alex">Alex</option>
                  <option value="giza">Giza</option>
                </select>
                <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>
              </div>
            </div>
      
            <!-- gender -->
            <div class="sm:col-span-2">
              <label for="country" class="block text-lg font-medium text-gray-900">Gender</label>
              <div class="mt-2 grid grid-cols-1">
                <select 
                formControlName="gender"
                id="country" name="country" autocomplete="country-name" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-2.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-purple-600 sm:text-lg">
                  <option value="" disabled selected>Select Your Gender</option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
                <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>
              </div>
            </div>
  
  
            <!-- street address -->
            <div class="sm:col-span-4">
              <label for="street-address" class="block text-lg font-medium text-gray-900">Street address</label>
              <div class="mt-2">
                <input 
                formControlName="streetAddress"
                type="text" name="street-address" id="street-address" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-2.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-purple-600 sm:text-lg">
              </div>
            </div>
      
            <!-- city -->
            <div class="sm:col-span-2 sm:col-start-1">
              <label for="city" class="block text-lg font-medium text-gray-900">City</label>
              <div class="mt-2">
                <input 
                formControlName="city"
                type="text" name="city" id="city" autocomplete="address-level2" class="block w-full rounded-md bg-white px-3 py-2.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-purple-600 sm:text-lg">
              </div>
            </div>
      
            <!-- state -->
            <div class="sm:col-span-2">
              <label for="region" class="block text-lg font-medium text-gray-900">State / Province</label>
              <div class="mt-2">
                <input 
                formControlName="state"
                type="text" name="region" id="region" autocomplete="address-level1" class="block w-full rounded-md bg-white px-3 py-2.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-purple-600 sm:text-lg">
              </div>
            </div>
      
            <!-- postalCode -->
            <div class="sm:col-span-2">
              <label for="postal-code" class="block text-lg font-medium text-gray-900">ZIP / Postal code</label>
              <div class="mt-2">
                <input 
                formControlName="postalCode"
                type="text" name="postal-code" id="postal-code" autocomplete="postal-code" class="block w-full rounded-md bg-white px-3 py-2.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-purple-600 sm:text-lg">
              </div>
            </div>
            
          </div>
      </div>
          
      <div class="mt-6 flex items-center justify-start gap-x-6">
        <button type="submit" class="rounded-md px-6 py-2 text-md font-semibold text-white shadow-xs  focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 bg-[#9b87f5] hover:bg-[#7E69AB]">Update</button>
      </div>
    </form> 

    </div>
  </div>
  

