<!-- <div class="bg-white min-h-screen flex flex-col justify-between"> -->
<!-- <main class="flex-grow">
  </main>
  <app-footer></app-footer> -->
<!-- </div> -->
<!-- <app-home></app-home> -->
<!-- <app-event-details></app-event-details> -->
<!-- <app-payment></app-payment> -->
<!-- <app-refund></app-refund> -->
<app-snackbar></app-snackbar>
<div class="home-wrapper" [class.blurred]="isChatbotOpenClass">
@if(!isOrganizer){
<app-nav-bar></app-nav-bar>
}
<router-outlet></router-outlet>
@if(!isOrganizer){
<app-footer></app-footer>
}
</div>
<app-chatbot (openChange)="onChatbotOpenChange($event)"></app-chatbot>
