<div class="min-h-screen py-22 flex flex-col bg-background">
  <main class="flex-grow container mx-auto px-4 py-8">
    <div class="max-w-3xl mx-auto">
      <div class="flex items-center gap-2 mb-8">
        <span class="text-purple-600 flex items-center justify-center group">
          <ng-icon name="heroQuestionMarkCircle" size="2em" class="group-hover:animate-bounce transition-all duration-300"></ng-icon
        ></span>
        <h1 class="text-3xl font-bold">{{ "faq.title" | translate }}</h1>
      </div>

      <div class="space-y-4">
        <div
          *ngFor="let item of faqs"
          class="border border-gray-200 rounded-lg overflow-hidden"
        >
          <button
            class="w-full flex justify-between items-center p-4 font-medium text-left text-gray-800 hover:bg-gray-50"
            (click)="toggleAnswer(item)"
          >
            {{ item.question |translate}}
            <ng-icon
              name="heroChevronDown"
              class="w-5 h-5 transition-transform duration-300"
              [ngClass]="{ 'rotate-180': item.isOpen }"
            ></ng-icon>
          </button>
          <div *ngIf="item.isOpen" class="px-4 pb-4 text-gray-600">
            {{ item.answer |translate}}
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
