<section class="bg-gray-50 mx-auto">
  <div class="mx-auto px-4 pt-26 pb-20 sm:px-10 lg:px-20">
    <h1 class="text-3xl font-bold text-black mb-6 flex items-center gap-2">
      <span class="text-purple-600">
        <ng-icon name="featherFilter" size="0.8em"></ng-icon>
      </span>
      All Events
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <aside class="md:col-span-1">
        <app-event-filters
          [categories]="categories"
          [cities]="cities"
          (filtersChanged)="onFiltersChanged($event)"
          (resetFilters)="onResetFilters()"
        ></app-event-filters>
      </aside>

      <main class="md:col-span-3">
        @if (!(loading )) { @if (allEvents.length > 0) {
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          @for (event of allEvents; track $index) {
          <app-event-card [event]="event"></app-event-card>
          }
        </div>
        } @else {
        <div
          class="text-center py-16 px-6 bg-white rounded-lg border border-gray-200 shadow-sm"
        >
          <h3 class="text-lg font-medium text-gray-900">No Events Found</h3>
          <p class="mt-1 text-sm text-gray-500">Try adjusting your filters.</p>
        </div>
        } }@else {
        <div class="w-full h-[60vh] flex justify-center items-center">
          <div
            class="animate-spin rounded-full h-16 w-16 border-4 border-purple-400 border-t-transparent"
          ></div>
        </div>
        <!-- <div class="text-center py-16">Loading events...</div> -->
        } @if ( showPagination() ) {
        <div class="flex justify-center mt-10 space-x-2">
          <button
            (click)="onPageChange(currentPage - 1)"
            [disabled]="currentPage === 1"
            class="px-4 py-1.5 border rounded-md bg-white text-gray-700 disabled:opacity-50 hover:bg-orange-500 hover:text-white transition-all duration-300 ease-in-out"
          >
            Previous
          </button>
          <span class="px-4 py-1.5 text-gray-700">
            Page {{ currentPage }} of {{ totalPages }}
          </span>
          <button
            (click)="onPageChange(currentPage + 1)"
            [disabled]="currentPage === totalPages"
            class="px-4 py-1.5 border rounded-md bg-white text-gray-700 disabled:opacity-50 hover:bg-orange-500 hover:text-white transition-all duration-300 ease-in-out"
          >
            Next
          </button>
        </div>
        }
      </main>
    </div>
  </div>
</section>
