<div
  class="min-h-screen bg-gradient-to-b   overflow-auto mt-16"
>
  <div
    class="text-center bg-gradient-to-r from-[rgb(149,99,246)] to-[rgb(209,177,247)] min-h-[180px] sm:p-6 p-4"
  >
    <h4 class="font-display sm:text-3xl text-2xl text-white font-medium mt-3">
      {{'auth.signUp.title'|translate}}
    </h4>
  </div>
  <!-- form -->
  <div class="mx-4 mb-4 -mt-20">
    <form
      class="max-w-4xl mx-auto bg-white shadow-[0_2px_13px_-6px_rgba(0,0,0,0.4)] sm:p-8 p-4 rounded-md"
      [formGroup]="signUpForm"
      (ngSubmit)="onSubmit()"
    >

      <div class="grid sm:grid-cols-1 gap-6 w-full">
        <div class="flex justify-center items-center w-full">
          <app-google-auth-button
            [clientId]="googleClientId"
            [callback]="signupWithGoogle.bind(this)"

          >
          </app-google-auth-button>
        </div>
      </div>

      <div class="relative flex items-center py-5">
        <div class="flex-grow border-t border-[#e9e3ff]"></div>
        <span class="flex-shrink mx-4 text-[#8E9196]"
          >{{'auth.signUp.orSignUpWithEmail'| translate}}</span
        >
        <div class="flex-grow border-t border-[#e9e3ff]"></div>
      </div>
      <!-- inputs -->
      <div class="grid sm:grid-cols-2 gap-8">
        <!-- first name -->
        <div>
          <label class="text-md font-medium mb-2 block text-[#1A1F2C]"
            >{{'auth.signUp.firstName'| translate}}</label
          >
        <!-- class="bg-slate-100 w-full text-sm text-slate-800 px-4 py-2.5 rounded border focus:border-blue-600  outline-none transition-all focus:bg-transparent border-[#e9e3ff] focus-visible:ring-purple-400 focus-visible:ring-offset-2"  -->
          <input
            name="name"
            type="text"
            class="flex h-10 w-full rounded-md border border-input border-gray-300 bg-background bg-slate-100 px-3 py-2 text-base focus:bg-white ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground file:text-gray-500 placeholder:text-muted-foreground placeholder:text-gray-900 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-purple-400 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
            formControlName="firstName"
            [placeholder]="'auth.signUp.enterName' | translate"/>
          <div
            *ngIf="
              signUpForm.get('firstName')?.touched &&
              signUpForm.get('firstName')?.errors
            "
            class="text-red-600 font-bold text-sm mt-2 ml-0.5"
          >
            <ng-container
              *ngIf="signUpForm.get('firstName')?.errors?.['required']"
              >{{'auth.signUp.firstNameRequired'| translate}}</ng-container
            >
            <ng-container
              *ngIf="signUpForm.get('firstName')?.errors?.['minlength']"
              >{{'auth.signUp.firstNameMinLength'| translate}}</ng-container
            >
            <ng-container
              *ngIf="signUpForm.get('firstName')?.errors?.['maxlength']"
              >{{'auth.signUp.firstNameMaxLength'| translate}}</ng-container
            >
            <ng-container
              *ngIf="signUpForm.get('firstName')?.errors?.['pattern']"
            >
            {{'auth.signUp.firstNameLettersOnly'| translate}}
            </ng-container>
          </div>
        </div>
        <!-- last name -->
        <div>
          <label class="text-md font-medium mb-2 block text-[#1A1F2C]"
            >{{'auth.signUp.lastName'| translate}} </label
          >
          <input
            name="lname"
            type="text"
            class="flex h-10 w-full rounded-md border border-input border-gray-300 bg-background bg-slate-100 px-3 py-2 text-base focus:bg-white ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground file:text-gray-500 placeholder:text-muted-foreground placeholder:text-gray-900 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-purple-400 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
            formControlName="lastName"
            [placeholder]="'auth.signUp.enterLastName' | translate"
            />
            <!-- class="bg-slate-100 w-full text-sm text-slate-800 px-4 py-2.5 rounded border focus:border-blue-600 outline-none transition-all focus:bg-transparent border-[#e9e3ff] focus-visible:ring-purple-400 focus-visible:ring-offset-2" -->
          <div
            *ngIf="
              signUpForm.get('lastName')?.touched &&
              signUpForm.get('lastName')?.errors
            "
            class="text-red-600 font-bold text-sm mt-2 ml-0.5"
          >
            <ng-container
              *ngIf="signUpForm.get('lastName')?.errors?.['required']"
              >{{'auth.signUp.lastNameRequired'| translate}}</ng-container
            >
            <ng-container
              *ngIf="signUpForm.get('lastName')?.errors?.['minlength']"
              >{{'auth.signUp.lastNameMinLength'| translate}}</ng-container
            >
            <ng-container
              *ngIf="signUpForm.get('lastName')?.errors?.['maxlength']"
              >{{'auth.signUp.lastNameMaxLength'| translate}}</ng-container
            >
            <ng-container
              *ngIf="signUpForm.get('firstName')?.errors?.['pattern']"
            >
            {{'auth.signUp.lastNameLettersOnly'| translate}}
            </ng-container>
          </div>
        </div>
        <!-- email id -->
        <div>
          <label class="text-md font-medium mb-2 block text-[#1A1F2C]"
            > {{'auth.signUp.email'| translate}}</label
          >
          <input
            name="email"
            type="text"
            class="flex h-10 w-full rounded-md border border-input border-gray-300 bg-background bg-slate-100 px-3 py-2 text-base focus:bg-white ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground file:text-gray-500 placeholder:text-muted-foreground placeholder:text-gray-900 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-purple-400 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
            formControlName="email"
            [placeholder]="'auth.signUp.enterEmail' | translate"
            />
            <!-- class="bg-slate-100 w-full text-sm text-slate-800 px-4 py-2.5 rounded border focus:border-blue-600 outline-none transition-all focus:bg-transparent border-[#e9e3ff] focus-visible:ring-purple-400 focus-visible:ring-offset-2" -->
          <div
            *ngIf="
              signUpForm.get('email')?.touched &&
              signUpForm.get('email')?.errors
            "
            class="text-red-600 font-bold text-sm mt-2 ml-0.5"
          >
            <ng-container *ngIf="signUpForm.get('email')?.errors?.['required']"
              >{{'auth.signUp.emailRequired'| translate}}</ng-container
            >
            <ng-container *ngIf="signUpForm.get('email')?.errors?.['email']"
              >{{'auth.signUp.invalidEmail'| translate}}</ng-container
            >
            <ng-container
              *ngIf="signUpForm.get('email')?.errors?.['emailExists']"
              >{{'auth.signUp.emailExists'| translate}}</ng-container
            >
            <ng-container
              *ngIf="signUpForm.get('email')?.errors?.['emailDomain']"
              >{{'auth.signUp.emailDomainNotAllowed'| translate}}</ng-container
            >
            <ng-container *ngIf="signUpForm.get('email')?.errors?.['minlength']"
              >{{'auth.signUp.emailMinLength'| translate}}</ng-container
            >
            <ng-container *ngIf="signUpForm.get('email')?.errors?.['maxlength']"
              >{{'auth.signUp.emailMaxLength'| translate}}</ng-container
            >
          </div>
        </div>
        <!-- Select role -->
        <div>
          <label class="text-md font-medium mb-2 block text-[#1A1F2C]"
            >{{'auth.signUp.selectRoleLabel'| translate}}</label
          >
          <select
            class=" flex h-10 w-full rounded-md border border-input border-gray-300 bg-background bg-slate-100 px-3 py-2 text-base focus:bg-white ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground file:text-gray-500 placeholder:text-muted-foreground placeholder:text-gray-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-purple-400 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm" 
            formControlName="userRole"
            >
            <!-- class="bg-slate-100 w-full text-sm text-slate-800 px-4 py-2.5 rounded border focus:border-blue-600 outline-none transition-all focus:bg-transparent border-[#e9e3ff] focus-visible:ring-purple-400 focus-visible:ring-offset-2" -->
            <option value="" disabled selected>{{'auth.signUp.selectRole'| translate}}</option>
            <option value="user">{{'auth.signUp.roleUser'| translate}}</option>
            <option value="organizer">{{'auth.signUp.roleOrganizer'| translate}}</option>
          </select>
          <div
            *ngIf="
              signUpForm.get('userRole')?.touched &&
              signUpForm.get('userRole')?.errors
            "
            class="text-red-600 font-bold text-sm mt-2 ml-0.5"
          >
            <ng-container
              *ngIf="signUpForm.get('userRole')?.errors?.['required']"
              >{{'auth.signUp.roleRequired'| translate}}</ng-container
            >
          </div>
        </div>
        <!-- password -->
        <div>
          <label class="text-md font-medium mb-2 block text-[#1A1F2C]"
            >{{'auth.signUp.password'| translate}}
          </label>
          <div class="relative">
              <input
                name="password"
                type="password"
                class=" flex h-10 w-full rounded-md border border-input border-gray-300 bg-background bg-slate-100 px-3 py-2 text-base focus:bg-white ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground file:text-gray-500 placeholder:text-muted-foreground placeholder:text-gray-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-purple-400 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm" 
                formControlName="password"
                [type]="showPassword ? 'text' : 'password'"
                [placeholder]="'auth.signUp.enterPassword' | translate" 
                />
                <!-- class="bg-slate-100 w-full text-sm text-slate-800 px-4 py-2.5 rounded border focus:border-blue-600 outline-none transition-all focus:bg-transparent border-[#e9e3ff] focus-visible:ring-purple-400 focus-visible:ring-offset-2" -->
              <button
              type="button"
              class="absolute right-3 top-1/2 transform -translate-y-1/2 text-[#8E9196]"
              (click)="showPassword = !showPassword"
              aria-label="Toggle password visibility"
            >
              <ng-icon
                *ngIf="!showPassword"
                name="featherEye"
                class="h-5 w-5"
              ></ng-icon>
              <ng-icon
                *ngIf="showPassword"
                name="featherEyeOff"
                class="h-5 w-5"
              ></ng-icon>
            </button>
          </div>

          <div
            *ngIf="
              signUpForm.get('password')?.touched &&
              signUpForm.get('password')?.errors
            "
            class="text-red-600 font-bold text-sm mt-2 ml-0.5"
          >
            <!-- required أول حاجة -->
            <ng-container
              *ngIf="signUpForm.get('password')?.errors?.['required']"
            >
            {{'auth.signUp.passwordRequired'| translate}}
                      </ng-container>

            <!-- minlength لو مفيش required -->
            <ng-container
              *ngIf="!signUpForm.get('password')?.errors?.['required'] && signUpForm.get('password')?.errors?.['minlength']"
            >
            {{'auth.signUp.passwordMinLength'| translate}}
                      </ng-container>

            <!-- weakPassword لو مفيش required ولا minlength -->
            <ng-container
              *ngIf="!signUpForm.get('password')?.errors?.['required'] &&
                                     !signUpForm.get('password')?.errors?.['minlength'] &&
                                     signUpForm.get('password')?.errors?.['weakPassword']"
            >
            {{'auth.signUp.passwordStrength'| translate}}
            </ng-container>

            <!-- maxlength لو مفيش الأخطاء اللي قبل كده -->
            <ng-container
              *ngIf="!signUpForm.get('password')?.errors?.['required'] &&
                                     !signUpForm.get('password')?.errors?.['minlength'] &&
                                     !signUpForm.get('password')?.errors?.['weakPassword'] &&
                                     signUpForm.get('password')?.errors?.['maxlength']"
            >
            {{'auth.signUp.passwordMaxLength'| translate}}
          </ng-container>
          </div>
        </div>
        <!-- confirm password -->
        <div>
          <label class="text-md font-medium mb-2 block text-[#1A1F2C]"
            > {{'auth.signUp.confirmPassword'| translate}}</label
          >
          <div class="relative"> 
          <input
            name="cpassword"
            [type]="showPassword ? 'text' : 'password'"
            class=" flex h-10 w-full rounded-md border border-input border-gray-300 bg-background bg-slate-100 px-3 py-2 text-base focus:bg-white ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground file:text-gray-500 placeholder:text-muted-foreground placeholder:text-gray-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-purple-400 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm" 
            formControlName="confirmPassword"
            [placeholder]="'auth.signUp.confirmPassword' | translate"
            />
            <!-- class="bg-slate-100 w-full text-sm text-slate-800 px-4 py-2.5 rounded border focus:border-blue-600 outline-none transition-all focus:bg-transparent border-[#e9e3ff] focus-visible:ring-purple-400 focus-visible:ring-offset-2" -->
              <button
              type="button"
              class="absolute right-3 top-1/2 transform -translate-y-1/2 text-[#8E9196]"
              (click)="showPassword = !showPassword"
              aria-label="Toggle password visibility"
            >
              <ng-icon
                *ngIf="!showPassword"
                name="featherEye"
                class="h-5 w-5"
              ></ng-icon>
              <ng-icon
                *ngIf="showPassword"
                name="featherEyeOff"
                class="h-5 w-5"
              ></ng-icon>
            </button>
          </div>


          <div
            *ngIf="
              signUpForm.get('cpassword')?.touched &&
              signUpForm.get('cpassword')?.errors
            "
            class="text-red-600 font-bold text-sm mt-2 ml-0.5"
          >
            <ng-container
              *ngIf="signUpForm.get('cpassword')?.errors?.['required']"
              >{{'auth.signUp.confirmPasswordRequired'| translate}}</ng-container
            >
            <ng-container
              *ngIf="signUpForm.get('cpassword')?.errors?.['minlength']"
              >{{'auth.signUp.confirmPasswordMinLength'| translate}}
            </ng-container>
            <ng-container
              *ngIf="signUpForm.get('cpassword')?.errors?.['pattern']"
              >{{'auth.signUp.confirmPasswordStrength'| translate}}</ng-container
            >
            <ng-container
              *ngIf="signUpForm.get('cpassword')?.errors?.['maxlength']"
              >{{'auth.signUp.confirmPasswordMaxLength'| translate}}</ng-container
            >
            <ng-container
              *ngIf="signUpForm.get('cpassword')?.errors?.['notMatching']"
              >{{'auth.signUp.passwordsDoNotMatch'| translate}}</ng-container
            >
          </div>
          <div
            *ngIf="
              signUpForm.hasError('passwordsMismatch') &&
              signUpForm.get('confirmPassword')?.touched
            "
            class="text-red-600 font-bold text-sm mt-2 ml-0.5"
          >
          {{'auth.signUp.passwordMismatchError'| translate}}
          </div>
        </div>

        <div>
          <div class="flex items-center">
            <input
              formControlName="acceptTerms"
              id="link-checkbox"
              type="checkbox"
              value=""
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              for="link-checkbox"
              class="ms-2 text-sm font-medium text-gray-900"
              >{{'auth.signUp.agreeWithTerms'| translate}}
              <a
                routerLink="/terms-condition"
                target="_blank"
                routerLinkActive="router-link-active"
                class="hover:underline font-medium text-[#9b87f5] hover:text-[#7E69AB]"
                >{{'auth.signUp.readTerms'| translate}}</a
              >.</label
            >
          </div>
          <div
            *ngIf="
              signUpForm.get('acceptTerms')?.touched &&
              signUpForm.get('acceptTerms')?.errors
            "
            class="text-red-600 font-bold text-sm mt-2 ml-0.5"
          >
            <ng-container
              *ngIf="signUpForm.get('acceptTerms')?.errors?.['required']"
              >{{'auth.signUp.readTermsError'| translate}}</ng-container
            >
          </div>
        </div>

        <div></div>
        <div class="mt-2">
          <button
            type="submit"
            class="py-2.5 px-5 text-sm font-medium tracking-wider rounded shadow-xl focus:outline-none bg-[#9b87f5] hover:bg-[#7E69AB] text-white flex items-center justify-center gap-2"
          >
          <svg
          *ngIf="isLoading"
          class="animate-spin h-5 w-5 text-white"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
          ></path>
          </svg>

          <span>
            {{ isLoading ? ('auth.signUp.processingText' | translate) : ('auth.signUp.submitButton' | translate) }}
          </span>
            <!-- <span *ngIf="!isLoading" class="">{{'auth.signUp.submitButton'| translate}}</span> -->
            <!-- <span
              *ngIf="isLoading"
              class="loader border-t-transparent border-solid animate-spin rounded-full border-white h-5 w-5"
            ></span> -->
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<ngx-spinner
bdColor="rgba(0, 0, 0, 0.5)"
size="medium"
color="#fff"
type="ball-scale-multiple"
[fullScreen]="true">
</ngx-spinner>
