<div class="px-36 flex flex-col gap-6">
    <div class="m-auto w-full text-center flex flex-col gap-3">
        <h1 class="text-3xl font-bold mt-6">Initiate Refund</h1>
        <p class="text-gray-600 font-semibold">Your request to cancel the "the event" on "2/5/2025" has been recived Please confirm your refund details below to proceed</p>
    </div>
    <!-- -------------------------------------------------- -->
     <div>
        <h1 class="text-2xl font-bold mt-6">Event Details</h1>
        <hr class="text-gray-300 my-6">
        <span class="flex flex-col md:flex-row justify-between items-center ">
            <h3 class="text-gray-400 text-lg font-semibold">Event</h3>
            <p class="text-lg font-semibold text-gray-600">the event</p>
        </span>
        <hr class="text-gray-300 my-6">
        <span class="flex flex-col md:flex-row justify-between items-center ">
            <h3 class="text-gray-400 text-lg font-semibold">Date</h3>
            <p class="text-lg font-semibold text-gray-600">2/5/2025</p>
        </span>
        <hr class="text-gray-300 my-6">
        <span class="flex flex-col md:flex-row justify-between items-center">
            <h3 class="text-gray-400 text-lg font-semibold">Ticket Type</h3>
            <p class="text-lg font-semibold text-gray-600">General Admission</p>
        </span>
     </div>
    <!-- -------------------------------------------------- -->
     <div class="flex flex-col  gap-6">
        <h1 class="text-2xl font-bold mt-6">Refund Amount</h1>
        <span class="flex flex-col md:flex-row justify-between items-center">
            <h3 class="text-gray-400 text-lg font-semibold">Total Refund Due</h3>
            <p class="text-lg font-semibold text-gray-600">$210</p>
        </span>
     </div>
    <!-- -------------------------------------------------- -->
     <div class="flex flex-col gap-4">
        <h1 class="font-bold text-2xl ">Refund Method</h1>
        <label for="credit" class="flex justify-between w-full border-1 border-gray-200 rounded-lg py-2 px-3 cursor-pointer">
            <div class="flex flex-col">
                <span class="font-semibold">OriginalPaymentMethod</span>
                <span class="font-semibold text-gray-400">Refund will be issued to the card used for purchase</span>
            </div>
            <input type="radio" id="credit" name="refundMethod" value="creditcard" class="accent-blue-500">
        </label>
        <label for="paypal" class="flex justify-between w-full border-1 border-gray-200 rounded-lg py-2 px-3">
            <div class="flex flex-col">
                <span class="font-semibold">Eventure Wallet</span>
                <span class="font-semibold text-gray-400">Refund will be credited to your Eventure account for future purchases</span>
            </div>
            <input type="radio" id="paypal" name="refundMethod" value="paypal" class="accent-blue-500">
        </label>
        <button class="cursor-pointer bg-blue-600 text-white w-full md:w-1/2 xl:w-1/3 p-2 rounded-lg">Confirm Refund Request</button>
     </div>

</div>
