<section class="bg-gradient-to-br" style="margin-top: -40px;">
    <!--  from-purple-600 via-purple-400 to-blue-400 -->
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-full  dark:border md:mt-0 sm:max-w-md   bg-gradient-to-  border-[#f0ecff] bg-white shadow-[0_2px_13px_-6px_rgba(0,0,0,0.4)] sm:p-8 p-4 rounded-md">
            <h2 class="mb-1 leading-tight tracking-tight  md:text-2xl text-2xl font-bold text-purple-600 ">
                Change Password
            </h2>
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()"  class="mt-4 space-y-4 lg:mt-5 md:space-y-5" action="#">

                <!-- Old Password -->
                <div>
                    <label for="old-password" class="text-sm font-medium mb-2 block text-gray-900">Old Password</label>
                    <input 
                        formControlName="oldPassword"
                        [type]="olPasswordFocused ? 'text' : 'password'" 
                        (focus)="olPasswordFocused = true" 
                        (blur)="olPasswordFocused = false"
                        name="old-password" 
                        id="old-password" 
                        placeholder="••••••••" 
                        class="bg-gray border  text-md rounded-lg block w-full p-2.5 outline-1 dark:placeholder-gray-400 text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:border-blue-600 focus:bg-transparent border-[#e9e3ff] focus-visible:ring-[#9b87f5] " required="">
                </div>  

                <!-- New Password -->
                <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">New Password</label>
                    <input 
                    formControlName="newPassword"
                    [type]="newPasswordFocused ? 'text' : 'password'" 
                    (focus)="newPasswordFocused = true" 
                    (blur)="newPasswordFocused = false"
                    name="password" id="password" placeholder="••••••••" class="bg-gray-50 border  text-md rounded-lg block w-full p-2.5 outline-1 dark:placeholder-gray-400 text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:border-blue-600 focus:bg-transparent border-[#e9e3ff] focus-visible:ring-[#9b87f5] " required="">
                </div>

                <!-- Confirm Password -->
                <div>
                    <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 ">Confirm password</label>
                    <input 
                    formControlName="confirmPassword"
                    [type]="confirmPasswordFocused ? 'text' : 'password'" 
                    (focus)="confirmPasswordFocused = true" 
                    (blur)="confirmPasswordFocused = false"
                     name="confirm-password" id="confirm-password" placeholder="••••••••" class="bg-gray-50 border  text-md rounded-lg block w-full p-2.5 outline-1 dark:placeholder-gray-400 text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:border-blue-600 focus:bg-transparent border-[#e9e3ff] focus-visible:ring-[#9b87f5] " required="">
                </div>

                        <!-- Error Message -->
                <div *ngIf="errorMessage" class="text-red-500 text-sm mt-2">
                    {{ errorMessage }}
                </div>

                <!-- <div *ngIf="passwordForm.errors?.passwordMismatch && passwordForm.get('confirmPassword')?.touched" class="text-red-500 text-sm mt-1">
                    New password and confirm password do not match
                  </div> -->
                <!-- Success Message -->
                <div *ngIf="successMessage" class="text-green-500 text-sm mt-2">
                    {{ successMessage }}
                </div>
                <button type="submit" class="cursor-pointer  bg-primary-600 hover:bg-primary-700 focus:ring-4  focus:ring-primary-300  text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 hover:#6895  font-bold rounded focus:outline-none w-full bg-[#9b87f5] hover:bg-[#7E69AB] text-white"><span class="font-bold"> Reset passwod</span></button>
            </form>
        </div>
    </div>
</section>
