   <div class="bg-gray-50 min-h-screen mt-10">
    <div class="max-w-4xl mx-auto px-4 py-16">
      <div class="bg-white rounded-2xl shadow-xl p-8 ">
        <h1 class="text-3xl font-bold text-gray-900 mb-8 bg-white sticky top-15 z-10 w-full py-4">{{"terms.title" | translate}}</h1>
  
        <section class="mb-8  p-2 transition transform hover:scale-[1.02] hover:shadow-2xl hover:bg-purple-100  duration-400 hover:rounded">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">{{"terms.one.title"| translate}}</h2>
          <div class="prose text-gray-600 ">
            <p>{{"terms.one.content" | translate}}</p>
          </div>
        </section>
  
        <section class="mb-8  p-2 rounded transition transform hover:scale-[1.02] hover:shadow-2xl hover:bg-purple-100  duration-400 hover:rounded ">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">{{"terms.two.title"| translate}}</h2>
          <div class="prose text-gray-600">
            <p>{{"terms.two.content" | translate}}</p>
          </div>
        </section>
  
        <section class="mb-8  p-2 rounded transition transform hover:scale-[1.02] hover:shadow-2xl hover:bg-purple-100  duration-400 hover:rounded ">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">{{"terms.three.title"|translate}}</h2>
          <div class="prose text-gray-600">
            <p>{{"terms.three.content" | translate}}</p>
          </div>
        </section>
  
        <section class="mb-8  p-2 rounded transition transform hover:scale-[1.02] hover:shadow-2xl hover:bg-purple-100  duration-400 hover:rounded ">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">{{"terms.four.title"| translate}}</h2>
          <div class="prose text-gray-600">
            <p>{{"terms.four.content" | translate}}</p>
          </div>
        </section>
  
        <section class="mb-8  p-2 rounded transition transform hover:scale-[1.02] hover:shadow-2xl hover:bg-purple-100  duration-400 hover:rounded ">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">{{"terms.five.title"| translate}}</h2>
          <div class="prose text-gray-600">
            <p>{{"terms.five.content" | translate}}</p>
          </div>
        </section>
  
        <section class="mb-8  p-2 rounded transition transform hover:scale-[1.02] hover:shadow-2xl hover:bg-purple-100  duration-400 hover:rounded ">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">{{"terms.six.title"| translate}}</h2>
          <div class="prose text-gray-600">
            <p>{{"terms.six.content" | translate}}</p>
          </div>
        </section>
  
        <section class="mb-8  p-2 rounded transition transform hover:scale-[1.02] hover:shadow-2xl hover:bg-purple-100  duration-400 hover:rounded ">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">{{"terms.seven.title"| translate}}</h2>
          <div class="prose text-gray-600">
            <p>{{"terms.seven.content" | translate}}</p>
          </div>
        </section>
  
        <section class="mb-8  p-2 rounded transition transform hover:scale-[1.02] hover:shadow-2xl hover:bg-purple-100  duration-400 hover:rounded ">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">{{"terms.eight.title"| translate}}</h2>
          <div class="prose text-gray-600">
            <p>{{"terms.eight.content" | translate}}</p>
          </div>
        </section>
  
        <section class="mb-8  p-2 rounded transition transform hover:scale-[1.02] hover:shadow-2xl hover:bg-purple-100  duration-400 hover:rounded ">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">{{"terms.nine.title"| translate}}</h2>
          <div class="prose text-gray-600">
            <p>{{"terms.nine.content" | translate}}</p>
          </div>
        </section>
  
        <section class="mb-8  p-2 rounded transition transform hover:scale-[1.02] hover:shadow-2xl hover:bg-purple-100  duration-400 hover:rounded ">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">{{"terms.ten.title"| translate}}</h2>
          <div class="prose text-gray-600">
            <p>{{"terms.ten.content" | translate}}</p>
          </div>
        </section>
  
        <section class="mb-8  p-2 rounded transition transform hover:scale-[1.02] hover:shadow-2xl hover:bg-purple-100  duration-400 hover:rounded ">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">{{"terms.eleven.title"| translate}}</h2>
          <div class="prose text-gray-600">
            <p>{{"terms.eleven.content" | translate}}</p>
          </div>
        </section>
  
        <section class="mb-8  p-2 rounded transition transform hover:scale-[1.02] hover:shadow-2xl hover:bg-purple-100  duration-400 hover:rounded ">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">{{"terms.twelve.title"| translate}}</h2>
          <div class="prose text-gray-600">
            <p>{{"terms.twelve.content" | translate}}</p>
          </div>
        </section>
  
        <section class="mb-8  p-2 rounded transition transform hover:scale-[1.02] hover:shadow-2xl hover:bg-purple-100  duration-400 hover:rounded ">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">{{"terms.thirteen.title"| translate}}</h2>
          <div class="prose text-gray-600">
            <p>{{"terms.thirteen.content" | translate}}</p>
          </div>
        </section>
  
        <section class="mb-8  p-2 rounded transition transform hover:scale-[1.02] hover:shadow-2xl hover:bg-purple-100  duration-400 hover:rounded ">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">{{"terms.fourteen.title"| translate}}</h2>
          <div class="prose text-gray-600">
            <p>{{"terms.fourteen.content" | translate}}</p>
          </div>
        </section>
  
        <section class=" p-2 rounded transition transform hover:scale-[1.02] hover:shadow-2xl hover:bg-purple-100  duration-400 hover:rounded ">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">{{ "terms.fifteen.title"| translate}}</h2>
          <div class="prose text-gray-600">
            <p>{{ "terms.fifteen.content" | translate}}</p>
          </div>
        </section>
  
      </div>
    </div>
  </div>
